* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    background-color: #cccccc;
}

/* Style the header */
.header {
    max-width: 600px;
    
    border-width: 5px;
    border-style:  solid;
    border-color:  black;
    border-radius: 25px;

    padding: 40px;

    margin: auto;

    text-align: center;

    color: black;
    background-color: white;
}

.footer {
    max-width: 600px;

    border-width: 5px;
    border-style:  solid;
    border-color:  black;
    border-radius: 25px;

    padding: 5px;
    padding-left: 50px;

    margin: auto;

    background-color: white;
}

.main {
    max-width: 600px;

    border-width: 5px;
    border-style:  solid;
    border-color:  black;
    border-radius: 25px;

    padding: 50px;

    margin: auto;

    background-color: white;
}

.main_bar {
    max-width: 600px;

    border-width: 5px;
    border-style:  solid;
    border-color:  black;
    border-radius: 25px;

    padding: 5px;
    padding-left: 5px;

    margin: auto;

    background-color: #4CAF50;
    overflow: auto;
}

.main_bar a {
    float: left;
    width: 10%;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    border-radius: 15px;
    margin: 5px;
}

.main_bar a.right {
    float: right;
    outline-style: sold;
    outline-width: 2px;
    outline-color: black;
    outline
}

.main_bar a:hover{
    background-color: #006400;
}

.main_bar a.right:hover{
    background-color: #006400;
}

.active {
    background-color: #000;
}

.vl {
    border-left: 5px solid black;
    height: 65px;
    float: right;
    margin-top: -5px;
    margin-bottom: -10px;
}